@font-face {
	font-family: 'AvenirNextCyr-BoldItalic';
	src: url('/fonts/avenirnextcyr-bolditalic.eot'); /* IE 9 Compatibility Mode */
	src: url('/fonts/avenirnextcyr-bolditalic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('/fonts/avenirnextcyr-bolditalic.woff2') format('woff2'), /* Super Modern Browsers */
		url('/fonts/avenirnextcyr-bolditalic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('/fonts/avenirnextcyr-bolditalic.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/fonts/avenirnextcyr-bolditalic.svg#avenirnextcyr-bolditalic') format('svg'); /* Chrome < 4, Legacy iOS */
}